.proj a {
    color: var(--blue-color);
}
.proj-container a:hover,
.proj-container a:focus,
.proj-container a:active {
    background-size: 0 !important;
}

.projects a {
    font-weight: var(--font-regular)
}

.more-proj a:hover {text-decoration: none; }
.project-portfo a:hover {text-decoration: none; }

.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.proj-container {
    display: flex;
    flex-direction: column;
}

.proj__img {
    position: relative;
    width: 11rem;
    height: 8rem;
    object-fit: cover;
    top: 0;
    left: 0;
    margin-right: 1rem;
    /* border: 2px solid var(--body-color);
    box-shadow: 6px 4px var(--dark-grey-color);  */
}

#proj-img {
    position: relative;
    top:0;
    left:0;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.proj-info {
    transition: transform 0.3s ease-in-out;
}

.proj-container a:hover{
    text-decoration: none;
}

.proj-info:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.proj-info:hover #proj-img {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    #proj-img{
        display: none;
    }
  }
