.edu-container {
    display: flex;
    flex-direction: column;
}

.edu-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#time {
    /* position: fixed; */
    width: 12%;
}

.school { 
    position: relative;
    width: 88%
}