.edu-container {
    display: flex;
    flex-direction: column;
}

.edu-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.school { 
    position: relative;
    /* width: 36.625rem; */
}

.school h3 {
    /* color: var(--purple-color) */
}

.add-info {
    font-size: var(--small-font-size);
}

@media screen and (max-width: 800px) {
    .edu-info {
        flex-direction: column;
    }

    #time {
        width: auto;
        margin-bottom: 0.1rem;
    }

    .school {
        width: auto;
    }
  }