.intro {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 48.625rem;
}

.note {
    color: var(--grey-color)
}

.logo {
    height: 16px;
    vertical-align: text-top;
}

.intro a {
    background-image: linear-gradient(var(--red-color), var(--red-color));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    font-weight: var(--font-medium);
}
.intro a:hover,
.intro a:focus,
.intro a:active {
    background-size: 100% 0.1em;
    
}

.intro h1 {
    font-size: 2rem;
    margin: 0;
}

.intro strong {
    font-weight: var(--font-medium);
}

.others {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

@media screen and (max-width: 800px) {
    .others {
        flex-direction: column;
    }

    #blank-gap {
        height: 1rem;
    }
}