/* src/components/loading/LoadingCircle.css */

.loading-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
  }
  
  .circle-outline {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
  .circle-svg {
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(-90deg); /* Rotate SVG to start at the top */
  }
  
  .circle-path {
    stroke-dasharray: 283; /* Circle circumference */
    stroke-dashoffset: 283; /* Initially hidden */
    animation: drawCircle 1s ease-in-out forwards, hide 0.1s linear 2s 1 forwards; /* Draw circle over 5 seconds */
  }
  
  .dot {
    width: 4px;
    height: 4px;
    background-color: #8899FC;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-45px); /* Position on circle */
    animation: moveDot 1s ease-in-out forwards, hide 0.1s linear 2s 1 forwards; /* Dot moves along the circle */
  }
  
  /* Circle fill */
  .circle-fill {
    position: absolute;
    width: 95px;
    height: 95px;
    background-color: #8899FC;
    border-radius: 50%;
    opacity:0;
    animation: fillCircle 2s ease-in-out forwards;
    animation-delay: 1s; /* Start after the line finishes drawing */

  }
  
  /* Image container for the flipping image */
  .image-container {
    opacity: 0;
    position: absolute;
    animation: appear 0.05s linear 3s 1 forwards, flipImageBack 1s ease-in-out 3s forwards; /* Flip image after circle flip */
  }
  
  .flipping-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    transform: rotateY(180deg); /* Start flipped */
  }
  
  /* Animation to draw the circle */
  @keyframes drawCircle {
    0% {
      stroke-dashoffset: 283;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  /* Animation to move the dot */
  @keyframes moveDot {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) translateY(-45px);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg) translateY(-45px);
    }
  }
  
  /* Gradually fill the circle */
  @keyframes fillCircle {
    0% {
      opacity:0;
      transform: rotateY(0deg);
    }
    50% {
        opacity:1;
        transform: rotateY(0deg);
    }

    75% {
        opacity:1;
        transform: rotateY(180deg); /* Flip 180 degrees */
    }

    100% {
        opacity:1;
        transform: rotateY(90deg); /* Flip 180 degrees */
    }
  }
  /* Animation to flip the image back by 180 degrees */
  @keyframes flipImageBack {
    0% {
      transform: rotateY(90deg); /* Start flipped */
    }
    100% {
      transform: rotateY(0deg);
    }
  }

  @keyframes hide {
    to {
        opacity: 0;
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}
  