.footer-container {
    background-color: var(--body-color);
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    font-size: var(--small-font-size);
    align-items: center;
}

.footer-box {
    max-width: 67rem;
    width: 100%;
    border-top: 1px solid var(--grey-color);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-box span {
    margin: 0 10%;
}
